body {
    text-align: center;
    background-color: lightskyblue;
}

p {

    font-family: sans-serif;
    text-align: justify-all;
    color: darkblue;
    font-size: 20px;
}

img {
    margin-right: 10px;
    margin-left: 10px;

}

h1 {
    font-family: 'Antic Slab', serif;
}

#igatpuri
{
    height: 200px;
}

.copy_right_footer
{
    position: fixed;
    color: crimson;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}